* {
    color: #666;
    font-family: 'Verdana', sans-serif;
    }
    /*subtitle color
    #f07c17
    */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }
    
.secondary-color {
    color: #f07c17;
    }
    
.boxed {
    display: block;
    border: 1px solid #ccc;
    margin: 25px 0 0 0;
    }
    
li {
    margin: 1em 0
    }
    
.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    }
    
    
